.navLink {
  display: inline-block;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.navLink:hover {
  background-color: #bf88ed62;
  color: #fff;
}