<h2>Login</h2>

<p id="user-type-text">Você está entrando como: <strong>Babá</strong></p>

<button onclick="setType('babysitter')">Babá</button>
<button onclick="setType('contractor')">Contratante</button>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Senha">

    <button type="submit">Entrar</button>
</form>

<br>

<a href="{% url 'registerBabysitter' %}">Cadastrar como Babá</a><br>
<a href="{% url 'registerContractor' %}">Cadastrar como Contratante</a>

<script>
    function setType(type) {
        let text = document.getElementById("user-type-text");

        if (type === "babysitter") {
            text.innerHTML = "Você está entrando como: <strong>Babá</strong>";
        } else {
            text.innerHTML = "Você está entrando como: <strong>Contratante</strong>";
        }
    }
</script>